{
  "jsc": {
    "parser": {
      "tsx": true,
      "syntax": "typescript",
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    }
  }
}
